_base_elements/1/
_base_elements/2/

_export/_element/
_export/custom/
_export/legacy/
_export/ring_titled4.png

_word/

backup/

Ps/

screenshots/

VS/SleepVisualization/.vs/
VS/SleepVisualization/Debug/
*.sln
*.db
*.vcxproj
*.filters

test/

sleep_tracker.txt